.alert {
    background-color: teal;
    color: black;
    border-radius: 40px;
}

.player-dialogue {
    text-align: right;
}

.npc-dialogue {
    text-align: left;
}

.btn-outline-success {
    background-color: black;
    color: white;
}

.town-title {
    max-width: 30vh;
}

.bottom-links {
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.bottom-single-link {
    margin: 0px 7px;
}

.sprig {
    max-width: 25px;
}

.talk-button-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.townspeople {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 3vh;
  }
  
  .farhana {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .ji {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .alba {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  /*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
    .town-title {
        max-width: 50%;
    }
}
  
  /*
  *************
  D E S K T O P
  *************
  */
  
  @media only screen and (min-width: 992px) {
    .town-title {
        max-width: 50%;
    }
}