.alert {
    background-color: teal;
    color: black;
    border-radius: 40px;
}

.player-dialogue {
    text-align: right;
}

.npc-dialogue {
    text-align: left;
}

.btn-outline-success {
    background-color: black;
    color: white;
}

.town-title {
    max-width: 30vh;
}

.bottom-links {
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.bottom-single-link {
    margin: 0px 7px;
}

.sprig {
    max-width: 25px;
}

.talk-button-img {
    display: flex;
    justify-content: center;
}

  /*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
    .town-title {
        max-width: 50%;
    }
}
  
  /*
  *************
  D E S K T O P
  *************
  */
  
  @media only screen and (min-width: 992px) {
    .town-title {
        max-width: 50%;
    }
}