.grow-title {
  max-width: 100%;
  padding-bottom: 2vh;
}

.ap-day {
  margin: 0;
}

.key {
  font-weight: 600;
}

.moving-plant {
  margin-top: 3vh;
}

.tutorial {
  padding: 2vh 0vh;
}

.end {
  text-decoration: underline;
  text-decoration-color: #4f772d;
  text-decoration-style: dotted;
}

/*
*************
D E S K T O P
*************
*/

@media only screen and (min-width: 992px) {
  .grow-title {
    max-width: 80%;
  }
}
