.book3 {
  margin-bottom: 2vh;
}

.book-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1vh 0vh 2vh 0vh;
}

.book-title {
  padding: 2vh;
}

.response {
  padding: 3vh;
}

.close {
  margin: 1vh 0vh;
}

#recipe-link {
  text-decoration: none;
  color: #132a13;
}

#recipe-link:hover {
  text-decoration: none;
  color: #132a13;
}
