.about-grow {
  padding: 2vh 0vh;
  display: flex;
  justify-content: center;
}

a {
  color: #31572c;
  text-decoration: underline;
  text-decoration-color: #4f772d;
  text-decoration-style: dotted;
}

.about {
  text-align: left;
}
