/* Button Styling */

#dropdown-item-button {
  border-radius: 0.7em;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: #31572c;
  padding: 0.3em;
  text-decoration: underline;
  text-decoration-color: #4f772d;
  text-decoration-style: dotted;
}

button:focus {
  box-shadow: none !important;
}

.dropdown-menu.show {
  background-color: #ecf39e;
  border-radius: 0.5em;
  padding: 5px;
}

#flower:hover {
  text-decoration: underline;
  text-decoration-color: #4f772d;
  text-decoration-style: dotted;
}

.home-title {
  max-width: 30vh;
}

/* Menu Links */

.bottom-links {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.bottom-single-link {
  margin: 0vh 2vh;
  display: flex;
}

.sprig {
  max-width: 25px;
  max-height: 25px;
}

/* Pot Components */

.pot-components {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding-top: 3vh;
}

.pot1component {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.pot2component {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.pot3component {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.choose-a-seed {
  padding: 0vh 0vh 2.5vh 0vh;
}

.plant-name {
  margin: 1vh;
}

/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
  .home-title {
    max-width: 50%;
  }

  .pot-components {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .pot1component {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .pot2component {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .pot3component {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

/*
  *************
  D E S K T O P
  *************
  */

@media only screen and (min-width: 992px) {
  .home-title {
    max-width: 50%;
  }

  .pot-components {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .pot1component {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .pot2component {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .pot3component {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .bottom-single-link {
    margin: 0px 9vh;
    padding: 3vh 3vh;
    display: flex;
  }
}
