#dropdown-item-button {
  border-radius: 0.7em;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  color: #31572C;
  padding: 0.3em;
  text-decoration: underline;
  text-decoration-color: #4F772D;
  text-decoration-style: dotted;
}

button:focus {
  box-shadow: none !important;
}

.dropdown-menu.show {
  background-color: #ecf39e;
  border-radius: 0.5em;
}

.home-title {
  max-width: 30vh;
}

.bottom-links {
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.bottom-single-link {
    margin: 0px 7px;
}

.sprig {
    max-width: 25px;
}

/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
  .home-title {
    max-width: 50%;
  }
}

/*
  *************
  D E S K T O P
  *************
  */

@media only screen and (min-width: 992px) {
  .home-title {
    max-width: 50%;
  }
}
