.header {
    width: 100%;
    margin: 0;
    padding: 0vh;
  }
  
  .nav-bar {
    background-color: #90A955;
    color: #31572C;
    width: 100%;
    margin: 0;
    padding: 0vh;
  }
  
  .brand {
    padding: 0vh 2vh;
  }
  
  .nav-bar-link {
    color: #132A13;
    text-decoration: none;
  }
  
  .nav-bar-link:hover {
    background-color: #132A13;
    color: #FBFCEB;
  }
  
  #brand-text {
    display: none;
  }
  
  .me-auto {
    padding: 0vh 0vh 1vh 0vh;
  }
  
  .container {
    margin: 0vh;
  }
  
  /*
  ******************
  Bootstrap-Specific
  ******************
  */
  
  .navbar {
    padding: 0vh;
  }
  
  #content-wrap {
    padding: 0vh;
  }
  
  #page-container {
    margin: 0 auto;
    width: 100%;
  }

  /*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
  #page-container {
    margin: 0 auto;
    width: 100%;
  }

  .me-auto {
    padding: 0vh;
  }
}

/*
*************
D E S K T O P
*************
*/

@media only screen and (min-width: 992px) {
  .nav-bar-link {
    padding: 1.5vh 2vh;
  }

  #brand-text {
    display: none;
  }

  #page-container {
    margin: 0 auto;
    width: 100%;
  }

  #bottom-link {
    padding: 2vh;
  }

  .me-auto {
    padding: 0vh;
  }
}
