.fade-in-text {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.farhana-dialogue-label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.player-dialogue-label {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#farhana-avatar {
  padding: 10px;
}

.npc-dialogue {
  text-align: left;
}

.player-dialogue {
  text-align: right;
}

.go-home {
  margin: 30px;
}

.note-plant {
  max-height: 10vh;
}

.meanwhile {
  margin: 20vh 0vh 0vh 0vh;
}

/*
  *************
  D E S K T O P
  *************
  */

@media only screen and (min-width: 992px) {
  .tutorial-container {
    width: 500px;
    margin: 0 auto;
  }
}
