/*
Color Palette
Dark Green: #132A13
Medium Green: #31572C
Bright Green: #4F772D
Light Green: #90A955
Pale Green: #ECF39E
Cream: #FBFCEB
*/

.App {
  text-align: center;
  margin: 0 auto;
}

html {
  font-size: 110%;
}

body {
  background-color: #FBFCEB;
  color: #132A13;
  font-family: "Zen Maru Gothic";
}

.main-container {
  padding: 2vh;
}

h1 {
  color: #31572C;
}

h2 {
  color: #31572C;
}

button {
  border-radius: 0.7em;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  color: #31572C;
  padding: 0.3em;
  text-decoration: underline;
  text-decoration-color: #4F772D;
  text-decoration-style: dotted;
}

@media (min-width: 1px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

#page-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

#content-wrap-app {
  padding-bottom: 2.5rem; /* Footer height */
}


/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
  
}

/*
  *************
  D E S K T O P
  *************
  */

@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }
}

